<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="text-center">
    <input
      [ngClass]="
        wasValidated && formGroup.get('assessmentTitle')!.invalid
          ? 'is-invalid'
          : ''
      "
      class="form-control border-0 p-1 m-1 fs-2 w-100 text-center text-danger"
      placeholder="Assessment Title"
      formControlName="assessmentTitle"
      required
    />
    <div class="invalid-feedback">Assessment title is required</div>
  </div>

  <div *ngIf="elements.length === 0" class="no-questions user-select-none">
    No questions
  </div>
  <div *ngFor="let e of elements" class="question py-2 px-4 m-1">
    <div class="question-btn-options" *ngIf="!disabled">
      <button (click)="moveQuestionUp(e.id)">
        <i class="fas fa-angle-up"></i>
      </button>
      <button (click)="moveQuestionDown(e.id)">
        <i class="fas fa-angle-down"></i>
      </button>
      <button (click)="openQuestionEditor(e.id)">
        <i class="fas fa-edit"></i>
      </button>
      <button (click)="deleteQuestion(e.id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <app-multi-choice
      [isInvalid]="wasValidated && e.multipleChoiceQuestion.selected == null"
      [formGroup]="formGroup"
      [multiChoice]="e.multipleChoiceQuestion"
      [disabled]="disabled"
    ></app-multi-choice>
  </div>

  <!-- Error message -->
  <div
    *ngIf="wasValidated && elements.length === 0"
    class="alert alert-danger text-center"
  >
    At least 1 question is required
  </div>

  <!-- Actions -->
  <div class="flex-buttons gap-2 mb-2 mt-4 w-100">
    <button
      type="button"
      class="btn btn-outline-danger fs-5"
      (click)="openQuestionEditor()"
    >
      Add Question
    </button>
    <button
      type="button"
      class="btn btn-outline-warning fs-5"
      (click)="debug()"
      *ngIf="showDebug"
    >
      Debug Submit
    </button>
  </div>

  <!-- Content -->
  <ng-content></ng-content>
</form>

<!-- Question editor -->
<ng-template #questionEditor let-modal>
  <div class="modal-header">
    <h4 class="modal-title">New Question</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="questionEditorFormGroup">
      <div class="text-center mb-2">
        <input
          class="border-0 text-center p-2 fs-5 w-100"
          formControlName="questionTitle"
          required
        />
      </div>
      <app-input-list formControlName="questionChoices"></app-input-list>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark w-25"
      (click)="modal.close()"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-danger w-25" (click)="addQuestion()">
      Add
    </button>
  </div>
</ng-template>
