<h1 class="text-danger text-center mt-4">Change Password</h1>

<div class="container-responsive my-md-4">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <input type="text" autocomplete="username" hidden />

    <!-- Old password -->
    <div class="form-group">
      <label class="form-label fw-bold">Old Password</label>
      <input
        [ngClass]="getInvalidClass('oldPassword')"
        type="password"
        class="form-control"
        autocomplete="current-password"
        formControlName="oldPassword"
        required
      />
      <div class="invalid-feedback">{{ getError("oldPassword") }}</div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label class="form-label fw-bold">Password</label>
      <input
        [ngClass]="getInvalidClass('newPassword')"
        type="password"
        class="form-control"
        autocomplete="new-password"
        formControlName="newPassword"
        required
      />
      <div class="invalid-feedback">{{ getError("newPassword") }}</div>
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
      <label class="form-label fw-bold">Confirm Password</label>
      <input
        [ngClass]="getInvalidClass('passwordConfirm')"
        type="password"
        class="form-control"
        autocomplete="new-password"
        formControlName="passwordConfirm"
        required
      />
      <div class="invalid-feedback">{{ getError("passwordConfirm") }}</div>
    </div>

    <!-- Buttons -->
    <div class="d-flex flex-row buttons">
      <button
        class="btn btn-secondary me-1 w-50"
        (click)="back()"
        type="button"
      >
        Cancel
      </button>
      <button class="btn btn-danger ms-1 w-50" type="submit">Save</button>
    </div>
  </form>
</div>

<app-loading *ngIf="isSubmitting"></app-loading>
