<h1 class="text-danger text-center mt-4">Change Password</h1>

<div class="container-responsive my-md-4">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- Old password -->
    <div class="form-group">
      <label class="form-label fw-bold">Old Password</label>
      <input
        type="password"
        class="form-control"
        value="Example"
        autocomplete="current-password"
        formControlName="oldPassword"
        required
      />
    </div>

    <!-- Password -->
    <div class="form-group">
      <label class="form-label fw-bold">Password</label>
      <input
        type="password"
        class="form-control"
        value="Example"
        autocomplete="new-password"
        formControlName="password"
        required
      />
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
      <label class="form-label fw-bold">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        value="Example"
        autocomplete="new-password"
        formControlName="confirmPassword"
        required
      />
    </div>

    <!-- Buttons -->
    <div class="d-flex flex-row buttons">
      <button
        class="btn btn-secondary me-1 w-50"
        (click)="back()"
        type="button"
      >
        Cancel
      </button>
      <button class="btn btn-danger ms-1 w-50" type="submit">Save</button>
    </div>
  </form>
</div>
