<h1 class="text-danger text-center mt-4">Delete account</h1>

<div class="container p-4">
  <div class="card rounded p-3">
    <div class="fs-5 fw-light text-danger text-center mb-3">
      Are you sure about deleting this account?
    </div>

    <div>
      <div class="my-3">
        <strong>First Name</strong>
        <div>{{ user.firstName }}</div>
      </div>

      <div class="my-3">
        <strong>Last Name</strong>
        <div>{{ user.lastName }}</div>
      </div>

      <div class="my-3" *ngIf="isAdmin()">
        <strong>Role</strong>
        <div>{{ user.role | titlecase }}</div>
      </div>

      <div class="my-3">
        <strong>Email</strong>
        <div>
          <a [attr.href]="'mailto:' + user.email">{{ user.email }}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="d-flex flex-row buttons mt-4 mb-2">
    <button class="btn btn-secondary me-1 w-50" (click)="back()" type="button">
      Cancel
    </button>
    <button class="btn btn-danger ms-1 w-50" (click)="delete()">Delete</button>
  </div>
</div>
