<h1 class="text-danger text-center mt-4">Edit Profile</h1>

<div class="container-responsive my-md-4">
  <form>
    <!-- First Name -->
    <div class="form-group">
      <label class="form-label fw-bold">First Name</label>
      <input class="form-control" value="Example" required />
    </div>

    <!-- Last Name -->
    <div class="form-group">
      <label class="form-label fw-bold">Last Name</label>
      <input class="form-control" value="Example" required />
    </div>

    <!-- Role -->
    <div class="form-group">
      <label class="form-label fw-bold">Role</label>
      <div ngbDropdown>
        <button
          class="btn btn-outline-danger w-100 text-left"
          type="button"
          ngbDropdownToggle
        >
          Student
        </button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem type="button">Student</button>
          <button ngbDropdownItem type="button">Tutor</button>
          <button ngbDropdownItem type="button">Admin</button>
        </div>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label class="form-label fw-bold">Email</label>
      <input
        type="email"
        class="form-control"
        value="example@example.com"
        autocomplete="username"
        readonly
      />
    </div>

    <!-- Password -->
    <div class="form-group">
      <label class="form-label fw-bold">Password</label>
      <input
        type="password"
        class="form-control"
        value="Example"
        autocomplete="new-password"
        required
      />
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
      <label class="form-label fw-bold">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        value="Example"
        autocomplete="new-password"
        required
      />
    </div>

    <!-- Buttons -->
    <div class="d-flex flex-row buttons">
      <button class="btn btn-secondary me-1 w-50" type="button">Cancel</button>
      <button class="btn btn-danger ms-1 w-50" type="submit">Save</button>
    </div>
  </form>
</div>
