form input {
  font-size: 16px;
}

.form-group,
.form-select {
  margin-bottom: 20px;
}

.buttons {
  justify-content: space-around;
}

.buttons .btn {
  font-size: 18px;
}

.container-responsive {
  margin-bottom: 50px;
}
