<h1 class="text-danger text-center mt-4">Edit Profile</h1>

<div class="container-responsive my-md-4">
  <form [formGroup]="formGroup" (ngSubmit)="onEdit()">
    <!-- First Name -->
    <div class="form-group">
      <label class="form-label fw-bold">First Name</label>
      <input class="form-control" formControlName="firstName" required />
    </div>

    <!-- Last Name -->
    <div class="form-group">
      <label class="form-label fw-bold">Last Name</label>
      <input class="form-control" formControlName="lastName" required />
    </div>

    <!-- Role -->
    <div>
      <label class="form-label fw-bold">Role</label>
      <select
        *ngIf="isAdmin"
        class="form-select btn btn-danger"
        formControlName="role"
      >
        <option class="btn btn-light" value="{{ RoleName.Admin }}">
          Admin
        </option>
        <option class="btn btn-light" value="{{ RoleName.Teacher }}">
          Teacher
        </option>
        <option class="btn btn-light" value="{{ RoleName.Student }}">
          Student
        </option>
      </select>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label class="form-label fw-bold">Email</label>
      <input
        type="email"
        class="form-control"
        autocomplete="username"
        value="{{ user.email }}"
        readonly
      />
    </div>

    <div class="text-right mb-4">
      <a routerLink="/profile/changepassword" class="btn btn-danger w-100"
        >Change Password</a
      >
    </div>

    <!-- Buttons -->
    <div class="d-flex flex-row buttons">
      <button
        class="btn btn-secondary me-1 w-50"
        (click)="back()"
        type="button"
      >
        Cancel
      </button>
      <button class="btn btn-danger ms-1 w-50" type="submit">Save</button>
    </div>
  </form>
</div>
