.profile-photo i {
  color: var(--primary-color);
  font-size: 200px;
}

.profile-content {
  display: flex;
  flex-direction: row;
}

@media (max-width: 960px) {
  .profile-content {
    flex-direction: column;
  }
}

.card {
  width: 450px;
  /* height: 380px; */
}

.card-content {
  overflow: auto;
}

@media (max-width: 500px) {
  .card {
    width: 80vw;
  }
}

/* PROFILE AVATAR */
.profile-avatar {
  --size: 200px;
  width: var(--size);
  height: var(--size);
  background-color: rgb(255, 181, 181);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-avatar h1 {
  font-size: 90px;
}
