a {
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 10px;
  transition: 0.2s;
}

.card:hover {
  background-color: var(--main-color);
  z-index: 1;
}

.card:hover .card-text,
.card:hover h2.card-title a,
.card:hover .card-text strong,
.card:hover .card-actions a i {
  color: white;
}

.card-title a {
  color: rgb(99, 99, 99);
}

.card-title a:hover {
  color: black !important;
  text-decoration: wavy;
}

.card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card-actions a:hover i {
  color: black !important;
}

.card-actions a i {
  font-size: 20px;
}

::selection {
  background-color: rgba(0, 0, 0, 0.2);
}
