a {
  text-decoration: none;
}

.card {
  background-color: var(--main-color);
  margin: 5px;
  border-radius: 10px;
  transition: 0.2s;
}

.card:hover {
  filter: saturate(0.6);
  z-index: 1;
}

.card-title,
.card-text {
  color: white;
}

::selection {
  background-color: rgba(0, 0, 0, 0.2);
}
