<footer>
  <div class="container-fluid">
    <div class="row p-3">
      <div class="col">
        <img src="/assets/images/logo-white.png" width="160px" />
      </div>
      <div class="col"></div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <strong class="text-danger">Esta es una página NO oficial</strong>
      <i class="my-1 mr-2 text-white"
        >Desarrollado por: Freddy Luis Paredes B.</i
      >

      <span class="text-white">
        Basado en:
        <a class="text-danger" href="https://www.fullstackacademy.com/"
          >https://www.fullstackacademy.com/</a
        >
      </span>
      <a
        class="my-2 text-danger"
        href="https://github.com/Neo-Ciber94"
        target="_blank"
      >
        <i class="fab fa-github text-danger mx-1"></i>GitHub</a
      >
    </div>
  </div>
</footer>
