nav {
  background-color: var(--navbar-bg-color);
  box-shadow: 0 5px 10px rgba(134, 134, 134, 0.4);
  padding: 10px 30px;
  min-height: var(--header-height);
}

a.logo {
  margin-left: 20px;
}

a.logo img {
  width: 200px;
  height: auto;
}

nav .nav-link {
  color: var(--navbar-link-color);
  font-size: 20px;
  font-weight: 500;
}

nav .nav-link:hover {
  color: var(--primary-color);
}

nav .nav-link.active {
  color: var(--primary-color);
}

/* 893px is a hardcoded value for when boostrap use the toggler in the navbar*/
@media (max-width: 893px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  nav .nav-link {
    margin: 10px 0;
  }
}
