<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="/">
        <img src="/assets/images/logo.png" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" [ngSwitch]="role">
        <!-- Insert template here -->
        <div *ngSwitchCase="Roles.Student" [ngTemplateOutlet]="student"></div>
        <div *ngSwitchCase="Roles.Teacher" [ngTemplateOutlet]="teacher"></div>
        <div *ngSwitchCase="Roles.Admin" [ngTemplateOutlet]="admin"></div>
        <div *ngSwitchDefault [ngTemplateOutlet]="home"></div>
      </div>
    </div>
  </nav>
</header>

<!-- Home -->
<ng-template #home>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/signup"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        routerLinkActive="active"
        >SIGN UP</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/login"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        routerLinkActive="active"
        >LOG IN</a
      >
    </li>
  </ul>
</ng-template>

<!-- Student -->
<ng-template #student>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="courses"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        routerLinkActive="active"
        >COURSES</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="profile"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        routerLinkActive="active"
        >PROFILE</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="/"
        (click)="logout()"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        >LOG OUT</a
      >
    </li>
  </ul>
</ng-template>

<!-- Tutor -->
<ng-template #teacher>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="courses"
        routerLinkActive="active"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        >COURSES</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="profile"
        routerLinkActive="active"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        >PROFILE</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="/"
        (click)="logout()"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        >LOG OUT</a
      >
    </li>
  </ul>
</ng-template>

<!-- Admin -->
<ng-template #admin>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="users"
        routerLinkActive="active"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        >USERS</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="courses"
        routerLinkActive="active"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        >COURSES</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="profile"
        routerLinkActive="active"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        >PROFILE</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="/"
        (click)="logout()"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
        >LOG OUT</a
      >
    </li>
  </ul>
</ng-template>
