<div
  class="card shadow p-3"
  [ngClass]="theme === 'red' ? 'card-red' : 'card-light'"
>
  <div class="card-actions text-right" *ngIf="!isReadonly">
    <!-- Addictional card icons -->
    <ng-content select=".card-icon"></ng-content>

    <!-- Edit button -->
    <a
      *ngIf="editRoute"
      (click)="onEdit.emit()"
      [routerLink]="editRoute"
      class="ml-2"
    >
      <i class="fas fa-edit" [ngClass]="iconClass"></i>
    </a>
    <a *ngIf="editRoute == null" (click)="onEdit.emit()" class="ml-2">
      <i class="fas fa-edit" [ngClass]="iconClass"></i>
    </a>

    <!-- Delete button -->
    <a
      *ngIf="deleteRoute"
      (click)="onDelete.emit()"
      [routerLink]="deleteRoute"
      class="ml-2"
    >
      <i class="fas fa-trash-alt" [ngClass]="iconClass"></i>
    </a>
    <a *ngIf="deleteRoute == null" (click)="onDelete.emit()" class="ml-2">
      <i class="fas fa-trash-alt" [ngClass]="iconClass"></i>
    </a>
  </div>

  <!-- Card content -->
  <ng-content select=".card-title"></ng-content>
  <ng-content select=".card-text"></ng-content>
  <ng-content></ng-content>
</div>
