.courses-list {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1350px) {
  .courses-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .courses-list {
    grid-template-columns: 1fr;
  }
}

.course-actions *:not(.dropdown-menu) {
  height: 40px;
}

.course-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

@media (max-width: 760px) {
  .course-actions {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .course-actions button {
    width: 100%;
    margin-bottom: 10px;
  }

  .course-actions input[type="text"] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
