.courses-list {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1350px) {
  .courses-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .courses-list {
    grid-template-columns: 1fr;
  }
}

.course-actions *:not(.dropdown-menu) {
  height: 40px;
}

.course-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

@media (max-width: 760px) {
  .course-actions {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .course-actions * {
    width: 100%;
    margin-bottom: 5px;
  }
}

.course-select {
  position: fixed;
  width: 200px;
}

.courses {
  margin-left: 200px;
}

@media (max-width: 600px) {
  .course-select {
    position: initial;
    width: initial;
  }

  .courses {
    margin-left: 0px;
  }
}

.course-select a {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}

.course-select a:hover,
.course-select a.active {
  color: var(--primary-color);
}
