<h1 class="text-center">My Courses</h1>

<div class="container p-4">
  <app-course-card
    course="Web Design"
    teacher="Alex Alexander"
  ></app-course-card>
  <app-course-card
    course="Web Design"
    teacher="Alex Alexander"
  ></app-course-card>
  <app-course-card
    course="Web Design"
    teacher="Alex Alexander"
  ></app-course-card>
  <app-course-card
    course="Web Design"
    teacher="Alex Alexander"
  ></app-course-card>
  <app-course-card
    course="Web Design"
    teacher="Alex Alexander"
  ></app-course-card>
</div>
