<h1 class="text-center">Users</h1>

<div class="container p-4" id="table-container">
  <table
    datatable="ng"
    style="width: 100%"
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover stripe compact text-center nowrap"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.role | titlecase }}</td>
        <td [ngClass]="user.isDeleted ? 'text-danger' : 'text-success'">
          {{ user.isDeleted ? "Deleted" : "Active" }}
        </td>
        <td>
          <a class="btn btn-danger mx-1" [routerLink]="['/profile', user.id]">
            View
          </a>
          <a
            class="btn btn-danger mx-1"
            [routerLink]="['/profile', user.id, 'edit']"
          >
            Edit
          </a>
          <a
            [ngClass]="user.isDeleted ? 'btn-secondary disabled' : 'btn-danger'"
            class="btn mx-1"
            [routerLink]="['/profile', user.id, 'delete']"
          >
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .btn {
    width: 80px;
  }
</style>
