<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/courses">Courses</a></li>
  <li class="breadcrumb-item">
    <a [routerLink]="['/courses', courseClass.courseId]">{{
      courseClass.course.name
    }}</a>
  </li>
  <li class="breadcrumb-item">
    <a
      [routerLink]="[
        '/courses',
        courseClass.courseId,
        'classes',
        courseClass.id
      ]"
      >{{ courseClass.name }}</a
    >
  </li>
  <li
    class="breadcrumb-item active"
    [innerText]="isEditing ? 'Edit Assessment' : 'Create Assessment'"
  ></li>
</ol>

<div class="container p-4">
  <div class="validation-error" *ngIf="titleError">{{ titleError }}</div>
  <app-multi-choice-builder
    (submitForm)="onSubmit($event)"
    [questions]="questions"
  >
    <div class="flex-buttons gap-2">
      <button type="button" class="btn btn-secondary fs-5" (click)="back()">
        Cancel
      </button>
      <button type="submit" class="btn btn-danger fs-5">Save</button>
    </div>
  </app-multi-choice-builder>
</div>
