<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/courses">Courses</a></li>
  <li class="breadcrumb-item">
    <a [routerLink]="['/courses', courseClass.courseId]">{{
      courseClass.course.name
    }}</a>
  </li>
  <li class="breadcrumb-item active">{{ courseClass.name }}</li>
</ol>

<div class="container p-3 d-flex flex-column justify-content-center">
  <h4>{{ courseClass.name }}</h4>
  <p>
    {{ courseClass.description }}
  </p>

  <h3 class="text-center">Tasks</h3>
  <div class="flex-responsive">
    <div class="class-actions my-2">
      <a class="btn btn-outline-danger me-3 fs-5" routerLink="lessons/new"
        >New Lesson</a
      >
    </div>
    <div class="class-actions my-2">
      <a class="btn btn-outline-danger me-3 fs-5" routerLink="assessments/new"
        >New Assessment</a
      >
    </div>
  </div>

  <div class="class-card my-1" *ngFor="let task of classTasks">
    <app-card
      theme="light"
      iconClass="fs-5"
      [editRoute]="[task.type, task.id, 'edit']"
    >
      <a [routerLink]="[task.type, task.id]">
        <div class="d-flex flex-row align-items-center card-title">
          <div class="me-3">
            <!-- Checkmark only for students -->
            <i class="far fa-file-alt"></i>
            <!-- <i class="far fa-check-circle fs-4"></i> -->
            <!-- <i class="far fa-circle fs-4"></i> -->
          </div>
          <div class="fs-5">{{ task.id }}</div>
        </div>
      </a>
    </app-card>
  </div>

  <!-- <div class="class-card my-1" *repeat="2">
    <app-card theme="light" iconClass="fs-5" editRoute="lessons/2/edit">
      <a routerLink="lessons/2">
        <div class="d-flex flex-row align-items-center card-title">
          <div class="me-3">
            <i class="far fa-file-alt"></i>
            <i class="far fa-check-circle fs-4"></i>
            <i class="far fa-circle fs-4"></i>
          </div>
          <div class="fs-5">HTML and HTML5</div>
        </div>
      </a>
    </app-card>
  </div> -->
</div>
