<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/courses">Courses</a></li>
  <li class="breadcrumb-item">
    <a [routerLink]="['/courses', courseClass.courseId]">{{
      courseClass.course.name
    }}</a>
  </li>
  <li class="breadcrumb-item active">{{ courseClass.name }}</li>
</ol>

<div class="container p-3 d-flex flex-column justify-content-center">
  <h4>{{ courseClass.name }}</h4>
  <p>
    {{ courseClass.description }}
  </p>

  <h3 class="text-center">Tasks</h3>
  <div class="flex-responsive" *ngIf="canWrite()">
    <div class="class-actions my-2">
      <a class="btn btn-outline-danger me-3 fs-5" routerLink="lessons/new"
        >New Lesson</a
      >
    </div>
    <div class="class-actions my-2">
      <a class="btn btn-outline-danger me-3 fs-5" routerLink="assessments/new"
        >New Assessment</a
      >
    </div>
  </div>

  <div class="class-card my-1" *ngFor="let classTask of classTasks">
    <app-card
      [isReadonly]="!canWrite()"
      theme="light"
      iconClass="fs-5"
      [editRoute]="[getRoute(classTask), 'edit']"
      (onDelete)="deleteTask(classTask)"
    >
      <a class="card-icon fs-5 ml-2" (click)="moveUp(classTask)"
        ><i class="fas fa-angle-up"></i
      ></a>
      <a class="card-icon fs-5 ml-2" (click)="moveDown(classTask)"
        ><i class="fas fa-angle-down"></i
      ></a>
      <!-- If is an student -->
      <a [routerLink]="getRoute(classTask)" *ngIf="isStudent">
        <div class="d-flex flex-row align-items-center card-title mb-0">
          <div class="me-3">
            <i
              class="far fa-file-alt"
              *ngIf="classTask.taskType === TaskType.Lesson"
            ></i>
            <i
              class="far fa-check-circle"
              *ngIf="classTask.taskType === TaskType.Assessment"
            ></i>
          </div>
          <div class="fs-5">{{ classTask.task.title }}</div>
        </div>
      </a>

      <!-- If is not an student -->
      <a *ngIf="!isStudent" (click)="joinCourseToSee(classTask)">
        <div class="d-flex flex-row align-items-center card-title mb-0">
          <div class="me-3">
            <i
              class="far fa-file-alt"
              *ngIf="classTask.taskType === TaskType.Lesson"
            ></i>
            <i
              class="far fa-check-circle"
              *ngIf="classTask.taskType === TaskType.Assessment"
            ></i>
          </div>
          <div class="fs-5">{{ classTask.task.title }}</div>
        </div>
      </a>
    </app-card>
  </div>
</div>
