<!-- courses/[course_name]/[class_name] -->
<div class="mx-5 my-3 breadcrumb-group">
  <span><a routerLink="/courses" class="breadcrumb-link">Courses</a></span> /
  <span><a routerLink="/courses/1" class="breadcrumb-link">Web Design</a></span>
  /
  <span class="breadcrumb-link active">Basic HTML</span>
</div>

<h3 class="text-center">Tasks</h3>
<div class="container p-3 d-flex justify-content-center">
  <div class="card shadow rounded-3 p-4">
    <div class="row">
      <div class="col-md-8">
        <h5 class="card-title">HTML Headers</h5>
        <p>
          The HTML <strong>&lt;header&gt;</strong> element represents
          introductory content, typically a group of introductory or
          navigational aids. It may contain some heading elements but also a
          logo, a search form, an author name, and other elements.
        </p>
      </div>
      <div class="col-md-2 fs-1">
        <i class="fas fa-book-open"></i>
      </div>
    </div>
  </div>
</div>
