<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/courses">Courses</a></li>
  <li class="breadcrumb-item">
    <a [routerLink]="['/courses', course.id]">{{ course.name }}</a>
  </li>
  <li
    class="breadcrumb-item active"
    [innerText]="isEditing ? 'Edit Class' : 'Create Class'"
  ></li>
</ol>

<div class="container form-container p-4">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- Course id -->
    <div class="form-group mb-4" *ngIf="isAdmin()">
      <div>
        <label class="form-label fs-5 mb-0">ID</label>
      </div>
      <div>
        <input
          class="form-control"
          type="text"
          value="{{ courseClass?.id }}"
          readonly
        />
      </div>
    </div>

    <!-- Course name -->
    <div class="form-group mb-4">
      <div>
        <label class="form-label fs-5 mb-0">Name</label>
      </div>
      <div>
        <input
          [ngClass]="getInvalidClass(formGroup.controlNames.name)"
          [formControl]="formGroup.controls.name"
          class="form-control"
          type="text"
          placeholder="Class name"
          required
        />
        <div class="invalid-feedback">
          {{ getError(formGroup.controlNames.name) }}
        </div>
      </div>
    </div>

    <!-- Course description -->
    <div class="form-group mb-4">
      <div>
        <label class="form-label fs-5 mb-0">Description</label>
      </div>
      <div>
        <textarea
          [formControl]="formGroup.controls.description"
          class="form-control"
          rows="4"
        ></textarea>
      </div>
    </div>

    <!-- Buttons -->
    <div class="flex-buttons gap-2">
      <button
        class="btn btn-secondary w-50 mt-0"
        type="button"
        (click)="back()"
      >
        Cancel
      </button>
      <button class="btn btn-danger w-50 mt-0">Save</button>
    </div>
  </form>
</div>
