<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/courses">Courses</a></li>
  <li class="breadcrumb-item">
    <a [routerLink]="['/courses', lesson.courseClass.courseId]">{{
      lesson.courseClass.course.name
    }}</a>
  </li>
  <li class="breadcrumb-item">
    <a
      [routerLink]="[
        '/courses',
        lesson.courseClass.courseId,
        'classes',
        lesson.courseClass.id
      ]"
      >{{ lesson.courseClass.name }}</a
    >
  </li>
  <li class="breadcrumb-item active">{{ lesson.title }}</li>
</ol>

<div class="container p-4">
  <h3 class="text-center mb-2" *ngIf="!isMarkdown">{{ lesson.title }}</h3>

  <div class="mt-2 mb-4">
    <!-- Markdown -->
    <div *ngIf="isMarkdown" class="markdown-body">
      <markdown [data]="lesson.content" emoji></markdown>
    </div>

    <!-- Text -->
    <div *ngIf="!isMarkdown" [innerText]="lesson.content"></div>
  </div>

  <!-- Buttons -->
  <div class="flex-buttons gap-2">
    <button class="btn btn-secondary" (click)="back()">Back</button>
    <a class="btn btn-danger" routerLink="edit" *ngIf="canWrite()">Edit</a>
  </div>
</div>
