<h1 class="text-center">Courses</h1>

<div class="container p-4" id="table-container">
  <table
    datatable="ng"
    style="width: 100%"
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover stripe compact text-center nowrap"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Teacher</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.teacher }}</td>
        <td>
          <a
            class="btn btn-danger mx-1"
            routerLink="{{ '/courses/' + course.id }}"
          >
            View
          </a>
          <button
            class="btn btn-danger mx-1"
            routerLink="{{ '/courses/edit/' + course.id }}"
          >
            Edit
          </button>
          <button class="btn btn-danger mx-1">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .btn {
    width: 80px;
  }
</style>
