<footer>
    <div class='container-fluid'>
        <div class="row p-3">
            <div class="col">
              <img src="/assets/images/logo-white.png" width="200px" />
            </div>
            <div class="col"></div>
          </div>
          <div class='d-flex flex-column align-items-center'>
            <strong class='text-danger'>Esta es una página NO oficial</strong>
            <i class='my-2'>Desarrollado por: Freddy Luis Paredes B.</i>
            <span>
                Basado en: <a class='text-danger' href="https://www.fullstackacademy.com/">https://www.fullstackacademy.com/</a>
            </span>
          </div>
    </div>
</footer>
