<!-- <h2 class="mx-5 my-3">
  <app-breadcrumb [skipLast]="true"></app-breadcrumb>
  / <span class="text-danger">Web Design</span>
</h2> -->

<div class="mx-5 my-3 breadcrumb-group">
  <span><a routerLink="/courses" class="breadcrumb-link">Courses</a></span> /
  <span class="breadcrumb-link active">Web Design</span>
</div>

<div class="container p-4 text-left">
  <div>
    <div class="mb-4 fs-5">
      <strong>ID</strong>
      <div>1</div>
    </div>

    <div class="mb-4 fs-5">
      <strong>Teacher</strong>
      <div>Alex Alexander</div>
    </div>

    <div class="mb-4 fs-5">
      <strong>Course</strong>
      <div>Web Design</div>
    </div>

    <div class="mb-4 fs-5">
      <strong>Description</strong>
      <p class="text-justify">
        Web design encompasses many different skills and disciplines in the
        production and maintenance of websites. The different areas of web
        design include web graphic design; user interface design (UI design);
        authoring, including standardised code and proprietary software; user
        experience design (UX design); and search engine optimization. Often
        many individuals will work in teams covering different aspects of the
        design process, although some designers will cover them all.
      </p>
    </div>

    <div class="mb-4 fs-5">
      <strong>Classes</strong>
      <div>
        <button class="btn btn-danger fs-5 mt-2">Create Class</button>

        <div class="my-2 course-card" *ngFor="let _ of [0, 0, 0, 0, 0]">
          <app-card (onEdit)="edit()" (onDelete)="delete()">
            <div class="d-flex flex-row align-items-center">
              <div class="class-title fs-4">
                <a routerLink="classes/1" class="vertical-align-middle">
                  Basic HTML</a
                >
              </div>
            </div>
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>
