.editorKind {
  width: 300px;
}

.editorKind label {
  width: 50%;
}

@media (max-width: 600px) {
  .editorKind {
    width: 100%;
  }
}

/* ### Markdown Tabs */

.nav-tabs a:not(.active) {
  color: var(--danger);
}

.markdown-write,
.markdown-preview {
  border-top: none !important;
}
