<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/courses">Courses</a></li>
  <li class="breadcrumb-item">
    <a [routerLink]="['/courses', courseClass.courseId]">{{
      courseClass.course.name
    }}</a>
  </li>
  <li class="breadcrumb-item">
    <a
      [routerLink]="[
        '/courses',
        courseClass.courseId,
        'classes',
        courseClass.id
      ]"
      >{{ courseClass.name }}</a
    >
  </li>
  <li
    class="breadcrumb-item active"
    [innerHTML]="isEditing ? 'Edit Lesson' : 'Create Lesson'"
  ></li>
</ol>

<div class="container p-4">
  <div
    class="btn-group btn-group-toggle my-2 editorKind"
    ngbRadioGroup
    name="editorKind"
    [(ngModel)]="editorKind"
  >
    <label ngbButtonLabel class="btn-outline-danger">
      <input ngbButton type="radio" [value]="EditorKind.Text" /> Text
    </label>
    <label ngbButtonLabel class="btn-outline-danger">
      <input ngbButton type="radio" [value]="EditorKind.Markdown" /> Markdown
    </label>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- Title -->
    <input
      [ngClass]="getInvalidClass(formGroup.controlNames.title)"
      type="text"
      class="form-control text-center text-danger fs-3 w-100 mb-2"
      placeholder="Lesson title"
      [formControl]="formGroup.controls.title"
      required
    />
    <div class="invalid-feedback">
      {{ getError(formGroup.controlNames.title) }}
    </div>

    <!-- Editor -->
    <div
      *ngIf="
        editorKind === EditorKind.Markdown;
        then markdownEditor;
        else textEditor
      "
    ></div>

    <div class="flex-buttons gap-2 mt-4">
      <button type="button" class="btn btn-secondary" (click)="back()">
        Cancel
      </button>
      <button class="btn btn-danger">Save</button>
    </div>
  </form>
</div>

<ng-template #textEditor>
  <!-- Text Editor -->
  <textarea
    [ngClass]="getInvalidClass(formGroup.controlNames.content)"
    class="form-control mt-2"
    [formControl]="formGroup.controls.content"
    style="min-height: 200px"
    required
  ></textarea>
  <div class="invalid-feedback">
    {{ getError(formGroup.controlNames.content) }}
  </div>
</ng-template>

<!-- Markdown Editor -->
<ng-template #markdownEditor>
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="markdownTab"
    [animation]="false"
    class="nav-tabs"
  >
    <li [ngbNavItem]="MarkdownEditorTab.Write">
      <a ngbNavLink>Write</a>
      <ng-template ngbNavContent>
        <!-- Text Editor -->
        <textarea
          [ngClass]="getInvalidClass(formGroup.controlNames.content)"
          class="form-control markdown-write"
          [formControl]="formGroup.controls.content"
          style="min-height: 200px"
          required
        ></textarea>
      </ng-template>
    </li>
    <li [ngbNavItem]="MarkdownEditorTab.Preview">
      <a ngbNavLink>Preview</a>
      <ng-template ngbNavContent>
        <!-- Markdown Preview -->
        <div
          class="markdown-preview p-2 border rounded markdown-body"
          style="min-height: 200px"
        >
          <markdown
            [data]="content.length === 0 ? 'Nothing to preview' : content"
            emoji
          ></markdown>
        </div>
      </ng-template>
    </li>
  </ul>

  <!-- Validation error -->
  <div [ngbNavOutlet]="nav"></div>
  <div
    class="validation-error"
    *ngIf="getError(formGroup.controlNames.content)"
  >
    {{ getError(formGroup.controlNames.content) }}
  </div>

  <!-- Info -->
  <a
    href="https://www.markdownguide.org/cheat-sheet/"
    target="_blank"
    class="text-danger small"
    >What is markdown?</a
  >
</ng-template>
