<main class="container p-4">
  <div class="block-1">
    <h1 class="text-center">Why Attend a Fullstack Academy Bootcamp?</h1>
    <div class="mt-md-3 block-content">
      <div>
        <p class="mx-4">
          Fullstack Academy is a top-ranked immersive school for tech training.
          Offering comprehensive in-person and remote training opportunities
          across the U.S., Fullstack prepares students fulfilling tech careers.
        </p>
        <!-- prettier-ignore -->
        <ul class="mx-4">
          <li>Learn in-demand skills</li>
          <li>Choose a schedule that works for you</li>
          <li>Build a strong network</li>
          <li>Cultivate professional skills alongside our Career Success team</li>
        </ul>
      </div>
      <div>
        <img src="/assets/images/homepage-image-1.jpg" />
      </div>
    </div>
  </div>
</main>
