<main>
  <div class="jumbotron">
    <div class="jumbotron-content">
      <div class="jumbotron-title">
        <span>Make Your Move</span>
        <br />
        <span class="mb-1">with Fullstack</span>
      </div>
      <div class="jumbotron-card">
        <p>
          When you choose Fullstack Academy, you’re taking the next step toward
          building a fulfilling career in tech. From fullstack JavaScript to
          Cybersecurity and Data Analytics, our immersive programs will help you
          find your place in the industry through our comprehensive,
          project-based curriculum and expert-led instruction. Fullstack grads
          get hired at top U.S. tech companies like:
        </p>
        <div
          class="d-flex flex-row justify-content-around brands user-select-none my-1"
        >
          <span>Google</span>
          <span>Facebook</span>
          <span>Amazon</span>
        </div>
      </div>
    </div>
  </div>
  <div class="block-1 p-4 container">
    <h1 class="text-center">Why Attend a Fullstack Academy Bootcamp?</h1>
    <div class="mt-md-3 block-content">
      <div>
        <div class="paragraph">
          <p class="mx-2 p-3">
            Fullstack Academy is a top-ranked immersive school for tech
            training. Offering comprehensive in-person and remote training
            opportunities across the U.S., Fullstack prepares students
            fulfilling tech careers.
          </p>
          <!-- prettier-ignore -->
          <ul class="mx-4">
            <li>Learn in-demand skills</li>
            <li>Choose a schedule that works for you</li>
            <li>Build a strong network</li>
            <li>Cultivate professional skills alongside our Career Success team</li>
          </ul>
        </div>
      </div>
      <div>
        <img src="/assets/images/homepage-image-1.jpg" />
      </div>
    </div>
  </div>
</main>
