@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --main-color: #cc2326;
  --header-height: 80px;
  --footer-height: 250px;
  --text-color: #444;
}

@media (min-width: 450px) {
  :root {
    --footer-height: 210px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Rubik", sans-serif;
}

html {
  height: 100vh;
}

body {
  min-height: 100%;
}

body {
  position: relative;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

.highlight {
  background-color: var(--main-color);
  padding: 3px;
  margin: 0 3px;
  color: white;
}

.container-responsive {
  width: 60%;
  padding: 10px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .container-responsive {
    width: 100%;
  }
}

.form-container {
  min-height: 400px;
}

/* #### Breadcrumnb #### */
.breadcrumb-group {
  font-size: calc(14px + 1.5vw);
}

.breadcrumb-link {
  color: var(--text-color);
  user-select: none;
  cursor: pointer;
}

a.breadcrumb-link {
  text-decoration: none;
}

.breadcrumb-link:hover:not(.active) {
  color: var(--danger);
}

.active.breadcrumb-link {
  color: var(--danger);
}
