:root {
  --main-color: #cc2326;
  --header-height: 80px;
  --footer-height: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  position: relative;
}

main {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
}

::selection {
  background-color: var(--main-color);
  color: white;
}
