@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --header-height: 80px;
  --footer-height: 250px;

  --primary-color: #cc2326;
  --accent-color: white;
  --bg-color: white;
  --text-color: #444;

  --navbar-bg-color: white;
  --navbar-link-color: black;

  --footer-text-color: white;
  --footer-bg-color: rgb(37, 37, 37);
}

@media (min-width: 450px) {
  :root {
    --footer-height: 210px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Rubik", sans-serif;
}

html {
  height: 100vh;
}

body {
  min-height: 100%;
  background-color: var(--bg-color);
}

body {
  position: relative;
}

::selection {
  background-color: var(--primary-color);
  color: white;
}

.highlight {
  background-color: var(--primary-color);
  padding: 3px;
  margin: 0 3px;
  color: white;
}

.container-responsive {
  width: 60%;
  padding: 10px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .container-responsive {
    width: 100%;
  }
}

/* #### Form Container #### */

.form-container {
  min-height: 400px;
}

.form-container label,
.form-container input,
.form-container button {
  font-size: 18px;
}

.form-container input {
  height: 50px !important;
}

.form-container button {
  height: 50px !important;
  margin-top: 20px;
}

/* #### Breadcrumb #### */
.breadcrumb {
  background-color: transparent;
  font-size: calc(12px + 1vw);
}

.breadcrumb-item * {
  color: var(--text-color);
  user-select: none;
  cursor: pointer;
}

.breadcrumb-item a {
  text-decoration: none;
}

.breadcrumb-item:hover * {
  color: var(--danger);
}

.breadcrumb-item.active {
  color: var(--danger);
}

/* #### Buttons */
.flex-buttons {
  display: flex;
  flex-direction: row;
}

.flex-buttons .btn {
  width: 100%;
}

@media (max-width: 450px) {
  .flex-buttons {
    flex-direction: column;
  }

  .flex-buttons .btn {
    width: 100%;
  }
}

/* #### Flexbox #### */
.flex-responsive {
  display: flex;
  flex-direction: row;
}

@media (max-width: 450px) {
  .flex-responsive {
    flex-direction: column;
  }

  .flex-responsive * {
    width: 100%;
  }
}

.validation-error {
  color: var(--danger);
  font-size: 14px;
}
