<h1 class="text-center">Sign up</h1>

<div class="container form-container pb-3">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- First Name -->
    <div class="form-group row">
      <div class="col-sm-3">
        <label class="col-form-label">First Name</label>
      </div>
      <div class="col-sm-9">
        <input
          [ngClass]="getInvalidClass('firstName')"
          formControlName="firstName"
          class="form-control"
          type="text"
          placeholder="Your first name"
          required
        />
        <div class="invalid-feedback">{{ getError("firstName") }}</div>
      </div>
    </div>

    <!-- Last Name -->
    <div class="form-group row">
      <div class="col-sm-3">
        <label class="col-form-label">Last Name</label>
      </div>
      <div class="col-sm-9">
        <input
          [ngClass]="getInvalidClass('lastName')"
          formControlName="lastName"
          class="form-control"
          type="text"
          placeholder="Your last name"
          required
        />
        <div class="invalid-feedback">{{ getError("lastName") }}</div>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group row">
      <div class="col-sm-3">
        <label class="col-form-label">Email</label>
      </div>
      <div class="col-sm-9">
        <input
          [ngClass]="getInvalidClass('email')"
          formControlName="email"
          class="form-control"
          type="email"
          placeholder="Your email"
          autocomplete="username"
          required
        />
        <div class="invalid-feedback">{{ getError("email") }}</div>
      </div>
    </div>

    <!-- Password -->
    <div class="form-group row">
      <div class="col-sm-3">
        <label class="col-form-label">Password</label>
      </div>
      <div class="col-sm-9">
        <input
          [ngClass]="getInvalidClass('password')"
          formControlName="password"
          class="form-control"
          type="password"
          placeholder="Your password"
          autocomplete="new-password"
          required
        />
        <div class="invalid-feedback">{{ getError("password") }}</div>
      </div>
    </div>

    <!-- Confirm password -->
    <div class="form-group row">
      <div class="col-sm-3">
        <label class="col-form-label">Confirm Password</label>
      </div>
      <div class="col-sm-9">
        <input
          [ngClass]="getInvalidClass('passwordConfirm')"
          formControlName="passwordConfirm"
          class="form-control"
          type="password"
          placeholder="Confirm password"
          autocomplete="new-password"
          required
        />
        <div class="invalid-feedback">
          {{ getError("passwordConfirm") }}
        </div>
      </div>
    </div>

    <!-- Submit -->
    <div class="d-flex flex-row justify-content-center">
      <button type="submit" class="btn btn-danger w-50">Sign up</button>
    </div>
  </form>

  <div class="text-center my-2">
    <span>
      Have an account?
      <a class="link-danger" routerLink="/login">Log in</a>
    </span>
  </div>
</div>
