<h1 class="text-center">Log in</h1>

<div class="container p-md-5 form-container">
  <form [formGroup]="formGroup" (ngSubmit)="login()">
    <!-- Email -->
    <div
      class="form-group mb-4"
      [ngClass]="{
        'was-validated':
          wasValidate && this.formGroup.controls['email']!.invalid
      }"
    >
      <div>
        <label class="form-label">Email</label>
      </div>
      <div>
        <input
          formControlName="email"
          class="form-control"
          type="email"
          placeholder="Your email"
          autocomplete="username"
          required
        />
        <div class="invalid-feedback">Email is required</div>
      </div>
    </div>

    <!-- Password -->
    <div
      class="form-group"
      [ngClass]="{
        'was-validated':
          wasValidate && this.formGroup.controls['password']!.invalid
      }"
    >
      <div>
        <label class="form-label">Password</label>
      </div>
      <div>
        <input
          formControlName="password"
          class="form-control"
          type="password"
          placeholder="Your password"
          autocomplete="current-password"
          required
        />
        <div class="invalid-feedback">Password is required</div>
      </div>
    </div>

    <div *ngIf="invalidCredentials" class="alert alert-danger">
      Invalid email or password
    </div>

    <!-- Submit -->
    <div class="d-flex flex-row justify-content-center">
      <button type="submit" class="btn btn-danger w-50">Log in</button>
    </div>
  </form>

  <div class="text-center my-2">
    <span>
      Don't have an account?
      <a class="link-danger" routerLink="/signup">Sign up</a>
    </span>
  </div>
</div>
